
:root {
  --accent-color: #2196F3;
  --main-color: #757575;
  --dark-color: #212121;
  --white-color: #fff;
  --footer-color:#2F303A;
}
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--main-color);
}

.header {
 /* background-color: #fff;
}
*/
.logo {
  font-family: 'Releway', sans-serif;
  color: var(--dark-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-span {
  color: var(--accent-color);
}

.nav-link {
color: var(--dark-color);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus  
{
   color: var(--accent-color);
}
